@media only screen and (max-width: 1700px)
	/* Insert media queries for desktop - check 1664px */
	html
		font-size: 15px

@media only screen and (max-width: 1550px)
	/* Insert media queries for desktop - check 1504px */
	html
		font-size: 14px

@media only screen and (max-width: 1440px)
	/* Insert media queries for Macbook - check 1440px*/
	html
		font-size: 13px

@media only screen and (max-width: 1366px)
	/* Insert media queries for Large iPad - check 1366px*/
	html
		font-size: 12px

@media only screen and (max-width: 1080px)
	/* Insert media queries for Small iPad - check 1024px */
	html
		font-size: 11px

	h1
		font-size: 3rem

	h2
		font-size: 2.4rem

	h3
		font-size: 2rem

	h4
	h5
	h6
		font-size: 1.5rem

@media only screen and (max-width: 1199px)
	/* Column layout adjustments */
	.b2-row .b2-col.col-3
		width 50%
		
@media only screen and (max-width: 991px)
	.home main#primary,
	body:not(.home) div#page
		padding: 100px 0 0 !important

	.b2-btt-toggle
		bottom: 90px

	section
		padding: 32px 0

	.b2-inner-content,
	main#primary
		max-width: 100%

	.b2-row
		display block

	.b2-row .b2-col
		width: 100% !important
		margin-bottom: 16px

	.b2-link
		font-size: 16px

	form button,
	form input[type=submit]
	form input[type=button]
		font-size: 16px
		min-width: auto
		width 100%

	.b2-hp-banner .b2-hp-banner-slide-item > div
		text-align: center

	.b2-hp-banner .b2-hp-banner-slide-item p
		font-size: 12px

	.b2-hp-banner .b2-hp-banner-dots
		bottom: 18px

	.b2-blog-item
		text-align: center
		max-width: 480px
		margin: 0 auto

	.b2-about-template img
		max-width: 100%

	.sp-list .sp-item-files .sp-item-files-pdf
		width 50%

@media only screen and (max-width: 767px)
	.sp-list .sp-item-files .sp-item-files-pdf
		width 100%

	.sp-list .sp-item-files .sp-item-files-pdf a h3
		white-space: initial
		text-overflow: initial
		overflow: initial